/* OBJECTIVES - TO SPACE OUT CARDS */


body {
    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/61414a33919178.56bcc5caf35da.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: right -170px;
    /* margin-top: 500px; */

}

.row {
    opacity: .87;
}



/* HEADER */

h1, .header {
    height: 280px;
    margin-left: 1000px
    
    
}

h1, .headerlarge {
margin-right: 722px;
margin-left: 722px;
}

h1, #logo {
background-image: url("/BG/Galadriel.png");
background-color:rgba(42, 43, 38, 0.726);

}




/* CARD */



.card-header {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRYFeG5xScCTfsVm7lpctWZAg2JyxOfA7H_46y6Szo8Q5juSxOL&usqp=CAU");
    background-position: center;
    background-size: 400px;
    }

.card-body{
    background-color: #2E302D;
    /* box-shadow: 0 4px 8px 0 rgba(48, 41, 41, 0.2); */
  
    
}

.list-group-item {
    background-color: rgba(46, 48, 45, 0.801);
    font-weight: bolder;
    font-size: 26.2px;
    font-family: 'Josefin Sans', sans-serif;
    color: black;

}

h3.card-title {
    font-family: 'Josefin Sans', sans-serif !important;
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
}

h2.card-title {
    font-family: 'Marck Script', cursive;
    font-size: 60px;
    text-align: left;
    color: rgb(136, 0, 0);
}

a {
    color: #0f9fa1;
}

a:hover {
    color: rgb(245, 153, 161);
    transition-duration: 0.65s;
    transform: scale(1.2);
}






  /* COLUMNS */
 



  /* MEDIA QUERIES */

  @media only screen and (max-width: 600px) {
    .col {
      display: block;
      width: 100%;
    }
  }